img {
  width: 10vw;
}
th {
  width: fit-content;
}
.tfooter {
  text-align: end;
}
.icon-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40%;
}
.td-img {
  text-align: center;
}
