.cardImg {
  width: fit-content;
  display: flex;
}
.carouselImg {
  width: 30vw;
}
.inputQte {
  margin-bottom: 5%;
}
.cardImg .btnP {
  background-color: #151538;
  color: white;
  border: none;
}
.cardImg .btnP:hover {
  background-color: white;
  color: #151538;
  border: solid 1px #151538;
}
.lin:hover {
  text-decoration: none;
}
.margin-div {
  margin-top: 22px;
}
