.aside-nav {
  padding: 2%;
  width: 15vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-nav h6 {
  color: #151538;
}
.nav-link {
  color: rgb(136, 133, 133);
  font-weight: 500;
  font-size: small;
}
.nav-link:hover {
  color: #151538;
}
.aside-nav .h-title,
.nav-item {
  color: rgb(136, 133, 133);
}
.aside-nav .btnP {
  background-color: #151538;
  color: white;
  border: none;
  font-size: small;
}
.aside-nav .btnP:hover {
  background-color: white;
  color: #151538;
  border: solid 1px #151538;
}
